/* Whole Page */
/* Whole Doc */
*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.root {
  padding: 2rem;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

p {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* Header */
.header__top__button {
  background-color: black;
  color: white;
  text-align: center;
  float: right;
  font-family: "Roboto-Medium", "system-ui", "-apple-system", sans-serif,
    "Inter-SemiBold", "Arial", "ui-sans-serif", "system-ui", "-apple-system";
  line-height: 1.5rem;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  border-radius: 1rem;
}
.header__top__button:hover{
 cursor: pointer;
 background-color: #212020;
}

.header-button-text{
  padding-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 500;

}
.header__bottom
{
margin-top: 1.5rem;}

.header__text--button{
  color: #6358DE;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 1rem;
  font-family: "Roboto-Medium", "system-ui", "-apple-system", sans-serif,
    "Inter-SemiBold", "Arial", "ui-sans-serif", "system-ui", "-apple-system";
    background-color: white;
    border: 0;
}

.header__text--button:hover{
  cursor: pointer;
  background-color:hsl(244, 70%, 96.1%);
  border-radius: 0.7rem;
  padding: 0.5rem;
}



.body-cards__button {
  float: right;
  background: white;
  border: none;
  color: hsl(245, 67%, 61%);
  font-family: "Roboto-Medium", "system-ui", "-apple-system", sans-serif,
    "Inter-SemiBold", "Arial", "ui-sans-serif", "system-ui", "-apple-system";
  font-size: 1rem;
  line-height: 1rem;
  padding: 12px;
 
}
.body-cards__button:hover{
  background-color:hsl(244, 70%, 96.1%);
  border: none;
  border-radius: 1rem;
  cursor: pointer;

}

.icon:hover{
  background-color:hsl(244, 70%, 96.1%);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.icon{
  
}

a:visited{
  color: black;
}


.body-cards__title--button {
  float: right;
  background: white;
  border: none;
  font-size: 1rem;
  line-height: 1rem;
  padding: 8px;
 
}
.body-cards__title--button:hover {
  background-color:hsl(244, 70%, 96.1%);
  border: none;
  border-radius: 1rem;
  cursor: pointer;

}

.body-cards {
  display: grid;
  flex-wrap: wrap;
  grid-row-gap: 1rem;
  grid-column-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 2rem;
  font-family:"Inter-Regular", "Arial", sans-serif, "ui-sans-serif", "system-ui", "-apple-system", sans-serif, 'Roboto';

}
.body-card {
  display: grid;
  height: 104px;
  border: 1px solid hsl(0, 0%, 89%);
  border-radius: 1rem;
  color: inherit;
  align-items: center;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 100%;
  width: 100%;
vertical-align: middle;

}
.body-cards__number{
  font-weight: 300;
  padding-right: 1rem;
  height: 20px;
  margin: 0;
  
}
.body-card__left{
padding-left: 1.2rem;
}

.body-card__left__top{
  display: flex;
  align-items: center;

}

.body-card__left__bottom{
  display: flex;
  align-items: center;
  vertical-align: middle;
}

.body-cards__percentage{
  font-weight: 200;
  font-size: smaller;
  padding:0.2rem;
  background-color: #d3d1d1;
  border-radius: 0.6rem;
  vertical-align: bottom;
}

.body-card__right{
  padding-right: 3rem;

}
.body-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;

}
.body-cards__title {
  padding-right: 8px;
  color: #696969;
  display: flex;
  height: 20px;
  margin: 0;

}

.header__top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.header__top__title {
  font-size: 32px;
  line-height: 40px;
  font-family: "Tomato-Grotesk-Regular", "Verdana", sans-serif, "ui-sans-serif",
    "system-ui", "-apple-system";
  font-weight: 500;
  margin: 0;
}
.header__text {
  color: hsl(0, 0%, 41.2%);
  display: flex;
  align-items: center;
  font-family: "Inter-Regular", "Arial", sans-serif, "ui-sans-serif",
    "system-ui", "-apple-system";
  font-size: 16px;
  line-height: 24px;
}


/* Table Related */
.table-title{
    color: black;
    font-size: 1.563rem;
    line-height:2rem;
    margin-top: 3rem;
    font-style: normal;
    font-weight: 500;
  line-height: 40px;
  font-family: "Tomato-Grotesk-Regular", "Verdana", sans-serif, "ui-sans-serif",
    "system-ui", "-apple-system";
}

.table-row:hover{
  background: hsl(0, 0%, 89%);;
}

.table-content{
  white-space: nowrap;
  text-align: middle;
  width: 100%;
  
}

table{

  border-collapse: collapse;
  font-size: 16px;
  line-height: 3rem;
  font-family:"Inter-Regular", "Arial", sans-serif, "ui-sans-serif", "system-ui", "-apple-system", sans-serif, 'Roboto';
}
th, .table-content__row1{
  color : #696969
}

 th, td{
  text-align: left;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
  
 }
 .table-content__row1{
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  align-content: center

 }

  .table-border{
    border-radius: 16px;
    border: 1px solid hsl(0, 0%, 89%);

  }

  .table-row{
    border-top: 1px solid hsl(0, 0%, 89%);
    
  }

  .table-bold-text{
    font-weight: 600;
  }

  .table-column span{
    margin-right: 1rem;
  }

  .table-column{
    align-items: center;
  }
  .table-percentage{
    font-size: small;
    color:#696969
  }

  .table-green{
    color: #0B996f;
  }

  .table-red{
    color: #ff6e3d;
  }

